## Combine all AEMO data into one CSV file

### Code by : Isaac Harris

In [1]:
# importing necessary library

import os, os.path
import glob
from pathlib import Path
import pandas as pd
os.chdir("../Data/raw/AEMO/Operational-demand")

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
#combine all files in the list
df = pd.concat([pd.read_csv(f) for f in all_filenames ])

#we only need trading interval and operational demand, therefore drop "Trading Date", "Interval Number" and "Extracted At"
df = df.drop(['Trading Date', 'Interval Number', 'Extracted At'], axis = 1)

df = df.rename(columns={"Trading Interval": "timestamp"})
df = df.sort_values('timestamp')
df['timestamp'] = pd.to_datetime(df['timestamp'])

df.head()

            timestamp  Operational Demand (MW)
0 2006-09-20 00:00:00                 1347.418
1 2006-09-20 00:30:00                 1312.708
2 2006-09-20 01:00:00                 1298.644
3 2006-09-20 01:30:00                 1288.972
4 2006-09-20 02:00:00                 1282.006

In [4]:
df.isna().sum()

timestamp                  0
Operational Demand (MW)    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278800 entries, 0 to 10847
Data columns (total 2 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   timestamp                278800 non-null  datetime64[ns]
 1   Operational Demand (MW)  278800 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 6.4 MB

In [6]:
path = Path(os.getcwd())
levels_up = 2
to_folder = path.parents[levels_up]
os.chdir(to_folder)
df.to_csv( "edited/AEMO_merged/combined_csv-operational-demand.csv", index=False, encoding='utf-8-sig')